<nav class="navbar navbar-expand-xl navbar-light bg-light">
	<a routerLink='/feed' class="navbar-brand">Peer Review</a>
	<a routerLink='/rvwdash' class="nav-link">Reviews</a>
	<a routerLink='/newdoc' class="nav-link mr-auto">Submit a new document</a>
	<app-searchbar class="mr-2"></app-searchbar>
	<div class="dropdown pr-4">
		<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
		<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			<a class="dropdown-item" routerLink='/rvwdash'>View Profile</a>
			<a class="dropdown-item" (click)="onLogout()">Log Out</a>
		</div>
	</div>
</nav>