<div style="position: absolute; top: 0; height: 100%; width: 100%;">
  <!-- Then put toasts within -->
  <div class="d-flex flex-column align-items-end p-5">
    <div *ngFor="let notif of notifications" id="{{notif['id']}}" class="toast" data-delay="5000" role="alert" aria-live="assertive" aria-atomic="true" style="min-width: 350px;">
      <div class="toast-header">
        <img src="..." class="rounded mr-2" alt="...">
        <strong class="mr-auto">Bootstrap</strong>
        <small class="text-muted">just now</small>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="toast-body">
        See? Just like this.
      </div>
    </div>
  </div>
</div>