#macro-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	.doc-container {
		width: 800px;
		display: flex;
		flex-direction: column;
		align-items: center;
		border: 1px solid black;
		margin: 20px; 

		.doc {
			width: 700px;
			height: 150px;
			border: 1px solid black;
			margin: 10px;
		}
	}
}