<div id="container">
	<form (ngSubmit)="onSubmit()" #loginForm="ngForm">
		<label for="mail">Mail</label>
		<input type="text" id="mail" required [(ngModel)]="mailField" name="mail">

		<label *ngIf="register" for="name">Name</label>
		<input *ngIf="register" type="text" id="name" required [(ngModel)]="nameField" name="name">

		<label for="password">Password</label>
		<input type="text" id="password" required [(ngModel)]="passwordField" name="password">

		<button type="submit" [disabled]="!loginForm.form.valid">Submit</button>
	</form>

	<div (click)="register = !register">
		<p *ngIf="!register">or register a new account</p>
		<p *ngIf="register">if you have an existing account, login</p>
	</div>
</div>