<div id="container">
	<h1 *ngIf="!register">Welcome back</h1>
	<h1 *ngIf="register">Welcome! Nice to meet you</h1>
	<form (ngSubmit)="onSubmit()" #loginForm="ngForm">
		<div class="form-group">
			<label for="mail">Mail</label>
			<input type="email" id="mail" class="form-control" required [(ngModel)]="mailField" name="mail" placeholder="example@mail.it">
		</div>

		<div class="form-group">
			<label *ngIf="register" for="name">Name</label>
			<input *ngIf="register" type="text" class="form-control" id="name" required [(ngModel)]="nameField" name="name" placeholder="Choose a nickname">
		</div>

		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" id="password" class="form-control" required [(ngModel)]="passwordField" name="password" placeholder="password">
		</div>

		<button type="submit" class="btn btn-primary" [disabled]="!loginForm.form.valid">Submit</button>
	</form>

	<div (click)="register = !register">
		<p *ngIf="!register">or register a new account</p>
		<p *ngIf="register">if you have an existing account, login</p>
	</div>
</div>