/* You can add global styles to this file, and also import other style files */

.bg-my-primary {
	background-color: #9fa8da !important;
}

.bg-my-dark {
	background-color: #000051 !important;
}

.bg-my-light {
	background-color: #534bae !important;
}

.bg-my-secondary {
	background-color: #8c9eff !important;
}

.bg-my-secondary-light {
	background-color: #c0cfff !important;
}

.my-secondary {
	color: #8c9eff !important;
}