<div id="feed-container" class="container">
	<div *ngFor="let event of events" class="card m-4 shadow-sm" routerLink="{{event.link}}">
		<div class="card-header bg-my-primary text-dark">
			<i class="material-icons mr-3">{{_events.getIcon(event.type)}}</i>
			<a routerLink="/rvwdash/{{event.owner}}" class="text-dark font-weight-bold">{{event.ownerName}}</a>
			<span> {{event.verb}} {{event.targetName}}</span>
		</div>
		<div class="card-body">
			<h5 class="card-title">{{event.title}}</h5>
			<p class="card-text">{{event.message}}</p>
		</div>
	</div>
</div>