pdf-viewer {
	display: block;
}

.lat-panel {
	width: 14%;
	min-width: 200px;
}

.central-panel {
	width: 60%;
	max-width: 850px;
	min-width: 300px;
}

#pdf-container {
	position: relative;
}

#overpdf {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: url(/assets/newthread_transp.png), auto;
}

.marker {
	position: absolute;
}

@media ( max-width: 1280px ) {
	#versioningh1 {
		font-size: 2em;

	}
}